<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rezamuzaky">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.rezamuzaky.view.EditFriendActivity"></activity>
        <activity android:name="com.rezamuzaky.view.FriendDetailActivity" />
        <activity android:name="com.rezamuzaky.MainActivity" />
        <activity android:name="com.rezamuzaky.view.LoginActivity" />
        <activity android:name="com.rezamuzaky.view.RegisterActivity" />
        <activity android:name="com.rezamuzaky.view.tambahTemanActivity" />
        <activity
            android:name="com.rezamuzaky.view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rezamuzaky.view.ViewPagerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>